.wrapper {
  display: flex;
  gap: 20px;
  perspective: 1000px;
}

.card {
  text-align: center;
  color: white;
}

.flip {
  width: 90px;
  height: 120px;
  background: linear-gradient(145deg, #ff0080, #7928ca);
  font-size: 48px;
  font-weight: bold;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  transform-style: preserve-3d;
  animation: flip 1s ease-in-out infinite alternate;
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
